.nfs*

# compilation and distribution
__pycache__
_ext
*.pyd
*.so
*.dll
*.egg-info/
*.png
*.jpg
*.pyc
*.t
*.pt
build/
dist/
wheels/
runs*/
data/loco
data/mvtec
output*/
.DS_Store
.DS_store
*checkpoints*
archive/
pretrained_*
results/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# onnx models
*.onnx

# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# demo 
**/node_modules
yarn.lock
package-lock.json